# Ignore everything in the HA runtime dir by default...
*
!/.gitignore
!/configuration.yaml
# ...except keep the dir structure (empty dirs aren't tracked anyway)
custom_components/
blueprints/
deps/
.storage/
tts/
.cache/
.cloud/
*.lock
*.fault
home-assistant.log*
home-assistant_v2.db*